$text-color: #000;
$text-color-secondary: #535658;
$text-color-amount: #4c4e50;
$text-color-old-price: #8d9295;
$text-color-label: #fff;
$button-color: #f1d264;
$button-color-hover: rgba(241, 210, 100, 0.85);
$img-button-color: rgba(0, 0, 0, 0.2);
$img-button-color-active: #f1d264;
$img-bg-color: #f6f8fb;
$bg-color: #fff;
$amount-bg-color: #fff;
$amount-border-color: #ecf0f4;
